<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs')%>
    </nav>
    <form action="/characters/<%=characters.id%>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%=characters.name%>"/><br/>
    Race: <input type="text" name="race" value="<%=characters.race%>"/><br/>
    <%for (let i = 0; i < characters.characterClass.length; i++){%>
        Class: <%=i + 1 %><input type="text" name="className" value="<%=characters.characterClass[i]%>"/>
        Level: <input type = "number" name = "level" value = "<%=characters.level[i]%>"/><br/>
    <%}%>
    Is Character Dead
    <input type="checkbox" name="isDead"
        <% if (characters.isDead === true) { %>
            checked
        <% } %> 
    /><br/>
    <input type="submit" name="" value="Update Character"/>
    </form>
    <form action='/characters/<%=characters.id%>/addItem?!method=PUT' method="POST">
        Add new item: <input type="text" name="item" value=""/>
        <input type="submit" name ="" value="Add Item"/>
    </form>
</body>
</html>