<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Edit</title>
</head>
<body>
    <nav class="nav m-3">
        <%- include('./partials/nav.ejs')%>
    </nav>
    <div class="text-center">
    <form action="/characters/<%=characters.id%>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%=characters.name%>" class="m-2"/><br/>
    Race: <input type="text" name="race" value="<%=characters.race%>" class="m-2"/><br/>
    <%for (let i = 0; i < characters.characterClass.length; i++){%>
        Class: <%=i + 1 %><input type="text" name="characterClass" value="<%=characters.characterClass[i]%>" class="m-2"/><br/>
        Level: <input type = "number" name = "level" value = "<%=characters.level[i]%>" class="m-2"/><br/>
    <%}%>
    Is This Character Dead
    <input type="checkbox" name="isDead" class="m-2"
        <% if (characters.isDead === true) { %>
            checked
        <% } %> 
    /><br/>
    <input type="submit" name="" value="Update Character" class="m-2"/>
    </form>
    <form action='/characters/<%=characters.id%>/addClass?!method=PUT' method="POST" class="m-2">
        <input type="submit" name="" value="Add New Class"/>
    </form>
    <form action='/characters/<%=characters.id%>/addItem?_method=POST' method="POST" class="m-2">
        Add new item: <input type="text" name="item" value=""/>
        <input type="submit" name ="" value="Add Item"/>
    </form>
    </div>
</body>
</html>