<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Character Name: <%=character.name%></h1>
    <div class='character-classes'>
        <h2>Character Class(es)</h2>
    <%for (let i = 0; i < character.characterClass.length; i++){%>
        <p><%=character.characterClass[i].characterClass %>: <%=character.characterClass[i].level%></p>
    <% } %>
    </div>
    <h2>Characters Backstory</h2>
    <p><%= character.backStory%></p>
    <% if (character.isDead){%>
        <p>This character met with a terrible fate</p>
    <%}else{%>
        <p>This character is still alive and kicking</p>
    <%}%>
    <h2><%=character.name%>'s Inventory</h2>
        <p><%=character.items%></p>
</body>
</html>